.page {
  box-sizing: border-box;
  margin: 0 auto 1rem auto;
  background-color: #ffffff;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.page.A4.portrait {
  width: 21cm;
  max-width: 21cm;
  height: 29.6cm;
  min-height: 29.6cm;
}
.page.A4.landscape {
  width: 29.7cm;
  max-width: 29.7cm;
  height: 20.9cm;
  min-height: 20.9cm;
}
.page.A5.portrait {
  width: 14.85cm;
  max-width: 14.85cm;
  height: 20.9cm;
  min-height: 20.9cm;
}
.page.A5.landscape {
  width: 21cm;
  max-width: 21cm;
  height: 14.75cm;
  min-height: 14.75cm;
}
.page.Letter.portrait {
  width: 21.6cm;
  max-width: 21.6cm;
  height: 27.8cm;
  min-height: 27.8cm;
}
.page.Letter.landscape {
  width: 27.9cm;
  max-width: 27.9cm;
  height: 21.5cm;
  min-height: 21.5cm;
}
.page.Legal.portrait {
  width: 21.6cm;
  max-width: 21.6cm;
  height: 35.5cm;
  min-height: 35.5cm;
}
.page.Legal.landscape {
  width: 35.6cm;
  max-width: 35.6cm;
  height: 21.5cm;
  min-height: 21.5cm;
}
.page .pagination {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 12px;
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  @page {
    margin: 0;
    size: A4 portrait;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    overflow: hidden;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    -webkit-transform-origin: inherit !important;
    transform-origin: inherit !important;
  }

  .page {
    page-break-after: always;
  }

  .page:last-child {
    page-break-after: avoid;
  }
}
